@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notFound {
height: 80vh;
}

header {
  background: linear-gradient(to top, #20cfcf, #0d6aa8, #20cfcf);
  padding: 6px 3%;
  color: #fff;
  .active {
    text-decoration: underline;
  }
}

footer {
  background: linear-gradient(to top, #20cfcf, #0d6aa8, #20cfcf);
  color: #fff;
}



form {
  width: 400px;
  margin: 20px auto 0;
  &.dashboard-form {
    margin-bottom: 25px;
    h2 {
      margin-bottom: 15px;
    }
  }
  p.error-message {
    text-align: center;
    margin-bottom: 10px;
    color: red;
  }
  input, button {
    padding: 5px 10px;
    margin-bottom: 5px;
  } 
  button {
    border: none;
    padding: 8px 10px;
    font-size: .98rem;
    background: linear-gradient(to top, #0407af, #42bacf);
    color: #fff;
  }
}

input[type='radio'] {
  accent-color:  #0408d4;
}

body {
  background: linear-gradient(to top, #d7e60d, #97a102 50%, #dceb0a);



  // background: linear-gradient(to top, #b0b303 10%, #cad61b, #eaec5fb9);
}